html, body {
    display: block;
    height: 100%;
}

.creature-forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.header {
    font-weight: bold;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.output {
    width: 300px;
    height: 300px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding: 10px;
    white-space: pre-wrap;
}

.success-graphic {
    display: none;
    width: 100px;
    height: 100px;
}